body {
		background: #000 url(https://www.meme-arsenal.com/memes/e5a841cdb5d203ddd808a43aa6e40676.jpg); /* Фоновый цвет и фоновый рисунок*/
		color: #fff; /*Цвет текста на странице*/
		background-attachment: fixed; /* Фон страницы фиксируется */
		background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
}
