body {
		background: #000 url(body_image.jpg);
		color: #fff;
		background-attachment: fixed;
		background-repeat: repeat-x;
        font-family: Arial, Helvetica;
        font-weight: bolder;
}
main {
    backdrop-filter: blur(4px);
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    max-height: 1300px;
    min-height: 300px;
    border-radius: 10%;
    box-shadow: 30px 10px 10px 10px rgba(0, 0, 0, 0.1);
    border: 3px solid white;
}

.centered {
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
}

.reg {
    border: 4px solid;
    margin-top: 10%;
    margin-right: 70%;
    width: 40%;
    backdrop-filter: blur(6px);
    border-radius: 10%;
    -webkit-filter: drop-shadow(3px 5px 5px #000);
  filter: drop-shadow(3px 5px 5px #000);

}

.reg-button {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    color: black;


}
.reg-h1 {
    text-align: center;
}
table{
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
}

td {

    text-align: left;
    width: 60px;
    padding-top: 10px;

}

body::-webkit-scrollbar {
  width: 12px;               /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
  background: #e9cba9;        /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
  background-color: #9a6d3b;
  border-radius: 20px;       /* округлось бегунка */
  border: 3px solid #9a6d3b;  /* отступ вокруг бегунка */

}

footer {
    width: 100%;
    height: 150px;
    backdrop-filter: blur(5px);

    margin-top: 3%;

   }

.darker {
    display: block;
    color: black;
    opacity: 100%;
    backdrop-filter: blur(0px);

}


header {
  padding: 20px;
  text-align:  center;
}
#grad {
  background-image: linear-gradient(red, yellow);
}

img {
    position: center;
    width: 800px;
    margin-top: -40px;
    -webkit-filter: drop-shadow(3px 5px 5px #000);
  filter: drop-shadow(3px 5px 5px #000);;
}

